### Editor ###
.vscode/
.ionide/
.history/
.idea/
.run/

### Gradle Build ###
.gradle/
!gradle/wrapper/gradle-wrapper.jar
build/
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### Custom ###
**/resources/icons/mdi_icons/*
!**/resources/icons/mdi_icons/.gitkeep
